export(ConsensusClusterPlus,calcICL)
importFrom(graphics, barplot, hist, legend, lines, par, plot, rect, segments, text)
importFrom(grDevices, dev.off, pdf, png, rainbow, rgb)
importFrom(stats, as.dendrogram, as.dist, cor, cutree, dist, hclust,heatmap, kmeans)
importFrom(utils, write.csv, write.table)
importFrom(Biobase, exprs)
importFrom(cluster, pam, diana)
